################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/BoJ Solving/BoJ Solving/18221 교수님 저는 취업할래요.cpp
